<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Poll</title>
    <!-- font cdn -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/index_style.css">
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js -->
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="container">
        <h1>One-Link Instant Live Polls</h1>
        <p>Create multiple polls with one link and see the results in real-time.</p>
        <a id="start_poll" href="/teacher">Get started</a><br>
        <img src="/imgs/live-poll-graph.gif" alt="live-poll-graph">
    </div>
</body>
</html>